body,html{
	background-image: linear-gradient(to bottom right,#000000, #000000);
	background-repeat: no-repeat;
	background-attachment: fixed;

}

h1 {
	font-family: 'Coiny', cursive;
	color: #fff;
	font-size: 6em;
}

h3 {
	font-family: 'Coiny', cursive;
	color:red;
	font-size: 4em;
}




.sub-container{
	display: flex;
	justify-content: center;


}

.btn{
	margin:2px;
}

div > button {

	width: 20vw;
	height: 6vh;
	margin-top: 20%;
	align-items: flex-end;
	border-radius: 20px;
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
	font-family: 'Roboto Slab', serif;

}

button:hover {
	background-color: blue;
	color:#fff;
	font-size: 25px;
	cursor: pointer;

}

div > img {
	width: 200px;
	height: 200px;
}



